#Ignore __pycache__ directories
__pycache__/
*/__pycache__/

# Ignore .snakemake directories
.snakemake/
*/.snakemake/

#Ignore .tif files
*.tif

#Ignore hdf5 files
*.hdf5

#Ignore parquet files
*.parquet.gz
